{
  "semi": false,
  "singleQuote": true,
  "printWidth": 128,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
