@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: not-allowed;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: pointer;
  --cursor-slider-thumb-active: default;
  --cursor-switch: pointer;
  --default-font-family: 'Inter', sans-serif;
}